# Python
__pycache__/
*.py[cod]
*$py.class
.venv
venv/
ENV/
build/
dist/
*.egg-info/

# Jupyter Notebook
.ipynb_checkpoints

# OS files
.DS_Store
Thumbs.db

# Data and Large Files
*.csv
*.npy
*.h5
*.pt
*.pth
*.bin
*.pkl
*.zip
*.tar.gz
*.rar

# IDEs
.vscode/
.idea/
*.swp
*.swo

# Logs
*.log
logs/
